.light {
  primary: rgb(144 74 66);
  on-primary: rgb(255 255 255);
  primary-container: rgb(255 218 213);
  on-primary-container: rgb(59 9 6);
  secondary: rgb(119 86 82);
  on-secondary: rgb(255 255 255);
  secondary-container: rgb(255 218 213);
  on-secondary-container: rgb(44 21 18);
  tertiary: rgb(113 91 46);
  on-tertiary: rgb(255 255 255);
  tertiary-container: rgb(253 223 166);
  on-tertiary-container: rgb(38 26 0);
  error: rgb(186 26 26);
  on-error: rgb(255 255 255);
  error-container: rgb(255 218 214);
  on-error-container: rgb(65 0 2);
  background: rgb(255 248 247);
  on-background: rgb(35 25 24);
  surface: rgb(255 248 247);
  on-surface: rgb(35 25 24);
  surface-variant: rgb(245 221 218);
  on-surface-variant: rgb(83 67 65);
  outline: rgb(133 115 112);
  outline-variant: rgb(216 194 191);
  shadow: rgb(0 0 0);
  inverse-surface: rgb(57 46 45);
  inverse-on-surface: rgb(255 237 234);
  inverse-primary: rgb(255 180 170);
}
